@{
    ViewData["Title"] = "MostrarTela";
}


<p>Use this page to detail your site's privacy policy.</p>

<p>Teste teste teste teste</p>

<!-- Inclua o arquivo de estilo CSS -->
<link rel="stylesheet" type="text/css" href="~/css/estilos.css" />

<div class="text-center" style="color: white;">
    <h1 class="display-4">Visita Fácil</h1>
    <p>
        Faça aqui os cadastros da Instituição
    </p>
</div>
