@{
    ViewData["Title"] = "MostrarTela";
}

<p align="center">CADASTROS:</p>

<div class="button-container" align="center">
    <button onclick="window.location.href='@Url.Action("Index", "Idoso")'">Idoso</button>
    <button onclick="window.location.href='@Url.Action("Index", "Visitante")'">Visitante</button>
    <button onclick="window.location.href='@Url.Action("Index", "Visita")'">Visita</button>
    <button onclick="window.location.href='@Url.Action("Index", "DadosPessoais")'">Usuários</button>
</div>



<style>
    /* Estilo dos botões */
    .button-container button {
        background-color: purple;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 10px; /* Espaçamento entre os botões */
        display: block; /* Faz com que os botões ocupem a largura total disponível */
        text-align: left; /* Alinha o texto à esquerda dentro do botão */
    }

        /* Estilo de hover para realçar quando o mouse passa por cima */
        .button-container button:hover {
            background-color: #6b3a9e; /* Tom mais escuro de roxo para realce */
        }



</style>


