

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Visita Fácil</title>
    <!-- Adicione os links para as bibliotecas Bootstrap e jQuery aqui -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyIdDpw1fLXnugxhI41V5y5c3vW6N5Sr2" crossorigin="anonymous">
    <script src="jquery.min.js"></script>
    <script src="popper.min.js"></script>
    <script src="bootstrap.min.js"></script>

</head>
<body>

    <div class="container-fluid first-section">
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../css/imagemidosos3.jpg" class="d-block mx-auto" alt="Imagem 1">
                </div>
                <div class="carousel-item">
                    <img src="../../css/imagemidosos.jpg" class="d-block mx-auto" alt="Imagem 2">
                </div>
                <div class="carousel-item">
                    <img src="../../css/imagemidosos5.jpg" class="d-block mx-auto" alt="Imagem 3">
                </div>
            </div>
            <div class="text-overlay">
                <h1 class="display-4 mb-4">Visita Fácil</h1>
                <p class="text-left larger-font">
                    Temos o intuito de promover organização, segurança e praticidade no controle de Visitas da sua Instituição!adipiscing elit. Sed varius neque a ante aliquam, id pellentesque neque cursus. Vivamus nec elit ut mi consequat luctus. Nullam vel tincidunt arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius neque a ante aliquam, id pellentesque neque cursus. Vivamus nec elit ut mi consequat luctus. Nullam vel tincidunt arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius neque a ante aliquam, id pellentesque neque cursus. Vivamus nec elit ut mi consequat luctus. Nullam vel tincidunt arcu.
                </p>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>

    <div class="container second-section">
        <!-- Conteúdo da segunda seção aqui -->
    </div>

    <div class="container third-section">
        <!-- Conteúdo da terceira seção aqui -->
    </div>

    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 3000 // Define o intervalo de tempo em milissegundos (3 segundos)
            });
        });
    </script>

   @* <div class="container-fluid d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="row">
            <div class="col-lg-6">
                <div id="carouselExample" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../css/imagemidosos3.jpg" class="d-block mx-auto w-100" alt="Imagem 1">
                        </div>
                        <div class="carousel-item">
                            <img src="../../css/imagemidosos.jpg" class="d-block mx-auto w-100" alt="Imagem 2">
                        </div>
                        <div class="carousel-item">
                            <img src="../../css/imagemidosos5.jpg" class="d-block mx-auto w-100" alt="Imagem 3">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 text-center">
                <h1 class="display-4 mb-4">Visita Fácil</h1>
                <p class="text-left larger-font">
                    Temos o intuito de promover organização, segurança e praticidade no controle de Visitas da sua Instituição!adipiscing elit. Sed varius neque a ante aliquam, id pellentesque neque cursus. Vivamus nec elit ut mi consequat luctus. Nullam vel tincidunt arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius neque a ante aliquam, id pellentesque neque cursus. Vivamus nec elit ut mi consequat luctus. Nullam vel tincidunt arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius neque a ante aliquam, id pellentesque neque cursus. Vivamus nec elit ut mi consequat luctus. Nullam vel tincidunt arcu.
                </p>
            </div>
        </div>
    </div>*@


    @*<div class="container d-flex align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="display-4 mb-4">Visita Fácil</h1>
            </div>
            <div class="col-lg-6 text-center">
                <p class="text-left larger-font">
                    Temos o intuito de promover organização, segurança e praticidade no controle de Visitas da sua Instituição!adipiscing elit. Sed varius neque a ante aliquam, id pellentesque neque cursus. Vivamus nec elit ut mi consequat luctus. Nullam vel tincidunt arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius neque a ante aliquam, id pellentesque neque cursus. Vivamus nec elit ut mi consequat luctus. Nullam vel tincidunt arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius neque a ante aliquam, id pellentesque neque cursus. Vivamus nec elit ut mi consequat luctus. Nullam vel tincidunt arcu.
                </p>
            </div>
            <div class="col-lg-6">
                <div id="carouselExample" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../css/imagemidosos3.jpg" class="d-block mx-auto w-75" alt="Imagem 1">
                        </div>
                        <div class="carousel-item">
                            <img src="../../css/imagemidosos.jpg" class="d-block mx-auto w-75" alt="Imagem 2">
                        </div>
                        <div class="carousel-item">
                            <img src="../../css/imagemidosos5.jpg" class="d-block mx-auto w-75" alt="Imagem 3">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>*@

    <style>
        .larger-font {
            font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 3000 // Define o intervalo de tempo em milissegundos (3 segundos)
            });
        });
    </script>

</body>
</html>

<!-- Inclua o arquivo de estilo CSS -->
<link rel="stylesheet" type="text/css" href="~/css/estilos.css" />

<style>

    body {
        font-family: 'Libre Franklin', sans-serif;
        background: #6441A5; /* cor de fundo mais clara */
        background: -webkit-linear-gradient(to right, #6441A5, #4a1473); /* gradiente mais acentuado */
        background: linear-gradient(to right, #6441A5, #4a1473); /* gradiente mais acentuado */
        color: #ffffff; /* texto branco */
        margin: 0;
    }

    .carousel-item img {
        width: 100%;
        height: auto;
    }

    .container-fluid {
        padding: 0;
    }

    .first-section {
        position: relative;
        text-align: center;
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff; /* Cor do texto sobreposto */
    }

    .second-section,
    .third-section {
        padding: 20px;
    }

    .larger-font {
        font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    }

    h1 {
        font-weight: bold;
        margin: 0;
        margin-bottom: 1rem;
    }

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }



    /*body {
        font-family: 'Libre Franklin', sans-serif;*/
        /*background: #6441A5;*/ /* cor de fundo mais clara */
       /* background: -webkit-linear-gradient(to right, #6441A5, #4a1473);*/ /* gradiente mais acentuado */
        /*background: linear-gradient(to right, #6441A5, #4a1473);*/ /* gradiente mais acentuado */
        /*color: #ffffff; /* texto branco */
    /*}



    h1 {
        font-weight: bold;
        margin: 0;
        margin-bottom: 1rem;
    }

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    div.text-center {
        text-align: center;
    }

    .carousel-item img {
        height: auto;
    }

    .container-fluid {
        position: relative;
    }

    .text-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
        /*color: #ffffff;*/ /* Ajuste a cor do texto conforme necessário */
  /*  }*/


    /*.carousel-item img {
        width: 100%;
        height: auto;
    }*/
</style>

