@{
    ViewData["Title"] = "Home Page";
}

<!-- Inclua o arquivo de estilo CSS -->
<link rel="stylesheet" type="text/css" href="~/css/estilos.css" />

<div class="text-center" style="color: white;">
    <h1 class="display-4">Visita Fácil</h1>
    <p>
        Temos o intuito de promover organização, segurança e praticidade no controle de Visitas da sua Instituição!
    </p>
</div>


    


<div style="text-align: center;">
    <img src="../../css/imagemidosos.jpg" alt="Descrição da Imagem" width="600" style="display: block; margin: 0 auto;">
</div>




<style>
    body {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #6441A5, #2a0845);
        background: linear-gradient(to right, #6441A5, #2a0845);
    }

</style>

