<body style="margin:0 !important">
    <section class="row">
        <div class="col-12">
            <!-- Primeira Seção -->
            <div class="first-section mb-4" style="height: 300px">
                <div id="carouselExample" class="carousel slide" data-ride="carousel">
                    <!-- Conteúdo do carousel -->
                </div>
                <div class="text-overlay">
                    <h1 class="display-4 mb-4">Visita Fácil</h1>
                    <p class="text-left larger-font">
                        Temos o intuito de promover organização, segurança e praticidade no controle de Visitas da sua Instituição!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="row" style="margin: 0 !important;padding: 0;">
        <div class="col-12" style="margin: 0;padding: 0;">
            <!-- Segunda Seção -->
            <div class="second-section mb-4">
                <!-- Conteúdo da segunda seção aqui -->
                <p>Visita Fácil</p>
                <p style="position: absolute;margin: 3rem;font-size: 2rem;">
                    Visita Fácil <br />
                    Bla Bla Bla Bla Bla
                </p>
                <img src="../../css/imagemidosos5.jpg" style="height: 400px; width: 100%;" alt="Imagem 3">
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-12">
            <!-- Terceira Seção -->
            <div class="third-section" style="height: 300px; width: 100%;">
                <!-- Conteúdo da terceira seção aqui -->
                <p>bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</p>
                <img src="../../css/imagemidosos.jpg" class="w-100" style="height: 300px;" alt="Imagem 3">
            </div>
        </div>
    </section>

    </body>

    <script>
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 3000 // Define o intervalo de tempo em milissegundos (3 segundos)
            });
        });
    </script>

    <style>
        .larger-font {
            font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
        }

        .container-fluid {
            width: 100%; /* Define a largura do container como 100% */
            padding-right: 0;
            padding-left: 0;
            margin-right: auto;
            margin-left: auto;
        }
        
        
        
    </style>

