@using VisitaFacil.Dominio.Entities
@model Visita



<form asp-action="Post" asp-controller="Visita" method="post">
    <h1>Cadastrar Nova Visita</h1>

    <!-- Outros campos de visita... -->
    <!-- Lista suspensa para selecionar o Idoso -->
    <label for="idIdoso">Selecione o Idoso:</label>
    <!--<select asp-for="idIdoso" asp-items="@ViewBag.Idosos"></select>-->
    @Html.DropDownListFor(f => f.idIdoso, new SelectList(ViewBag.Idosos, "idIdoso", "Nome", "-- Selecione --"))

    <!-- Lista suspensa para selecionar o Visitante -->
    <label for="idVisitante">Selecione o Visitante:</label>
    @Html.DropDownListFor(f => f.idVisitante, new SelectList(ViewBag.Visitantes, "idVisitante", "Nome", "-- Selecione --"))


    <!-- Campo para a data da visita -->
    <label for="dataVisita">Data da Visita:</label>
    <input type="date" asp-for="dataVisita" />

    <!-- Campo para a hora de entrada -->
    <label for="horaEntrada">Hora de Entrada:</label>
    <input type="time" asp-for="horaEntrada" />

    <!-- Campo para a hora de saída -->
    <label for="horaSaida">Hora de Saída:</label>
    <input type="time" asp-for="horaSaida" />

    <div class="flex-container">
    <a href="javascript:history.go(-1)" class="btn-grad-cinza">Voltar</a>
    <button type="submit" id="btnCadastrar" class="btn-grad">REGISTRAR</button>
    </div>
</form>


<script type="text/javascript" src="index.js"></script>
<script>
    const container = document.getElementById('container');

    //botao btnCadastrar
    const btnCadastrar = document.getElementById('btnCadastrar');
    btnCadastrar.addEventListener('click', () => {
        alert('Visita registrada com Sucesso');
        container.classList.add('left-panel-active');
    });

    signUpBtn.addEventListener('click', () => {
        container.classList.add('right-panel-active');
    });

    signInBtn.addEventListener('click', () => {
        container.classList.remove('right-panel-active');
    });
        
</script>

<script src="/js/site.js"></script>


<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Libre Franklin', sans-serif;
    }

    h1 {
        font-weight: bold;
        margin: 0;
        margin-bottom: 1rem;
    }

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px; /* Ajuste conforme necessário */
    }

    .btn-grad-cinza {
        background-image: linear-gradient(to right, #808080 0%, #555555 51%, #808080 100%);
    }

    .btn-grad-cinza {
        margin: 5px;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 10px;
        display: block;
        cursor: pointer;
    }

    .btn-grad-cinza:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }

    span {
        font-size: 12px;
    }

    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }


    .btn-grad {
        background-image: linear-gradient(to right, #6441A5 0%, #2a0845 51%, #6441A5 100%)
    }

    .btn-grad {
        margin: 5px;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 10px;
        display: block;
        cursor: pointer;
    }

    .btn-grad:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }

    #signIn {
        background-image: linear-gradient(to right, #fff 0%, #f7f3f3 51%, #fff 100%);
        color: #6441A5;
    }

    #signUp {
        background-image: linear-gradient(to right, #fff 0%, #f7f3f3 51%, #fff 100%);
        color: #6441A5;
    }

    form {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }

    input {
        background-color: #eee;
        border: none;
        padding: 10px 12px;
        margin: 8px 0;
        width: 100%;
    }

    .body-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #4568DC; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #B06AB3, #4568DC); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    .container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
        position: relative;
        overflow: hidden;
        width: 90%;
        max-width: 100%;
        min-height: 85%;
    }

    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }


    @@keyframes show {
        0%,
        49.99% {
            opacity: 0;
            z-index: 1;
        }

        50%,
        100% {
            opacity: 1;
            z-index: 5;
        }
    }

    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
    }

    .container.right-panel-active .overlay-container {
        transform: translateX(-100%);
    }

    .overlay {
        background: #6441A5;
        background: -webkit-linear-gradient(to right, #6441A5, #2a0845);
        background: linear-gradient(to right, #6441A5, #2a0845);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        color: #ffffff;
        position: relative;
        left: -100%;
        height: 100%;
        width: 200%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .container.right-panel-active .overlay {
        transform: translateX(50%);
    }

    .overlay-panel {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
    }

    .overlay-left {
        transform: translateX(-20%);
    }

    .container.right-panel-active .overlay-left {
        transform: translateX(0);
    }

    .overlay-right {
        right: 0;
        transform: translateX(0);
    }

    .container.right-panel-active .overlay-right {
        transform: translateX(20%);
    }
</style>



